@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #f2f2f2!important;
}
.bg-gray-light{
  background-color: #F2F2F2;
}
h1, h2 , h3, h4, h5, h6 , p{
  margin: 0;
}
.px-60{
  padding-left: 60px;
  padding-right: 60px;
}
.d-block{
  display: block;
}
.color-white{
  color: #fff;
}

  
.signup-form{
  background-color: #284719;
  color: #CDFFB5;
  padding: 100px 0;
}
/* .designer-signup-form{
  background-color:#CDFFB5;
  color:  #284719;
  padding: 100px 0;
} */
.designer-signup-form{
  background-color: #CDFFB5;
  color:#284719;
  padding: 100px 0;
}
.signup-form h2{
  font-size: 75px;
  font-weight: 500;
  line-height: 80px;
}
.form-group{
  margin-bottom: 15px;
}
.signup-content{
  display:flex;
  justify-content: space-between;
  gap:30px;
}
.form-inner{
  width:525px;
  border: solid 0.71px #CDFFB5;
  border-radius: 2.82px;
  padding: 40px 45px;
 }
 .form-heading h2{
  font-size: 50px;
 }
 .designer-signup-form .form-inner{
  border: solid 0.71px#56873F;
 }
.form-inner label{
margin-bottom: 8px;
display: block;
font-weight: 500;
}
.form-inner input::placeholder{
  color: #56873F;
  font-weight: 500;
}
.designer-signup-form 
.form-inner label{
color: #284719;
}
.form_control{
  display: block;
  width: -webkit-fill-available;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  color: #56873F;
  background-color: transparent;
  border: 0.71px solid #CDFFB5;
  border-radius: 2.82px;
  outline: none;
  font-weight: 500;
  height: 38px;

}
.designer-signup-form  .form_control{
  border-color: #284719;
  color: #56873F;
}
.submit-btn{
  display: block;
  padding: 14px 20px;
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 3px;
}
.signup-btn{
  background: #CDFFB5;
  color: #284719;
}
.designer-signup-form .submit-btn{
  background-color: #284719;
  color: #CDFFB5;
}
.signup-form p{
color:#56873F;
font-weight: 500;
}
.already-register{
  text-align: right;
  margin-top: 30px;
}
.login-redirect{
  padding: 10px 20px;
  border-radius:10px;
  border:solid 1px #56873F;
  color: #CDFFB5;
  text-decoration: none;
}
.designer-signup-form .login-redirect{
  color: #56873F;
}
.mt-150{
  margin-top: 150px;
}
.Home-screen{
  height: 100vh;
  background-color: #284719;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.Home-screen .Home-button{
  background-color: transparent;
  padding: 15px 25px;
  color: #fff;
  border: solid 1px #fff;
  margin: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}
.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
  font-family: 'Roboto Flex', sans-serif;

}

.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}
.sidebar .list-group-item.active{
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}
nav{
  font-family: 'Roboto Flex', sans-serif;

}
.main-content-wraaper{
  font-family: 'Roboto Flex', sans-serif;
  color: #000;

}
.review-main-content h3{
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
}
.request-date p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}
.review-content p {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: -0.48px;
}
.review-content .short0ad {
  border: solid 1px #B185F2;
  padding: 4px 15px;
  border-radius: 20px;
  color:#B185F2;
  font-weight: 600;
}
.review-content .d-flex{
  gap:25px;
}
.review-delivery a{
  background-color:#ECF7EE;
  border: solid 1px #3FCE3C;
  padding: 10px 75px 10px 75px;
  color:#012801;
  font-weight: 700;
}
.review-content  .web-animation{
  color:#EDAFFE;
  border-color: #EDAFFE;
 }
 .draft-table{
  border: solid 1px #000;
 }
 .draft-table tr{
  border-color:#000 ;
 }
 .draft-table tr:last-child ,  .draft-table tr:last-child td{
  border:none

 }
 .draft-table table>:not(caption)>*>*{
  background-color: transparent!important;
  }
  .draft-table p a{
    color: #000;
  }
  .review-content table  td{
  vertical-align: middle;
  padding: 13px 12px;
  }
.review-content .draft-table table  td{
    padding: 13px 20px;
}
.review-content .feedback-queue td{
  padding: 13px 6px;
}
.review-content .loop {
    color: #FA812A;
    border-color: #FA812A;
    background: #fff;
}
.review-content table td:last-child {
  padding-right: 0;
}
.draft-table .review-content table  td{
  padding: 13px 8px;
}

.draft-table table td:first-child{
  width: 175px;
}
.draft-table table td:nth-child(2){
 width: 85px;
}
.draft-table table td:nth-child(3){
  width: 85px;
}
.draft-table p.short0ad{
  width: 111px;
  padding: 8px 11px;
}
.review-content .brand-element {
  color: #0657EB;
  border-color: #0657EB;
}
.review-content .ui-animation {
  color: #7C96FE;
  border-color:#7C96FE;
}
.review-content .typography {
  color: #D6C10B;
  border-color: #D6C10B;
}
.review-content .transition{
  color: #F92B34;
  border-color: #F92B34;
}
p.serial-number {
  background: #D2CECE;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  line-height: 17px;
}
/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
    max-width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  
}

/* If Checked */

#MenuToggle:checked~.sidebar {
	width: 0;
	transform: translateX(-250px);
}

#MenuToggle:checked~.right {
	width: 100%;
}
.new-request{
  background-color: #f2f2f2;
  font-family: 'Roboto Flex', sans-serif;
}
@media(max-width:767px){
  .form-inner{
    width: auto;
    padding: 20px 25px;
  }
  .form-heading {
    margin-bottom: 40px;
}
  .signup-content{
   display: block;
  }
  .signup-form h2 {
    font-size: 60px;
    line-height: 70px;
  }
}