@font-face {
	font-family: 'Recless Medium';
  src: url("./font/Reckless-Medium.otf");
  src: url("./font/Reckless-Medium.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap');
:root {
  --gray: #f2f2ff;
  --main-font:'Roboto Flex', sans-serif;
  --secondary-font:'Recless Medium';
  --pubilc-sans-font:'Public Sans', sans-serif;
  --mid-green: #56873F;
  --dark-green:#284719;
  --light-green:#CDFFB5
}
html body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--gray)!important;
}
.font-roboto{
  font-family: var(--main-font);
}
.font-reckless{
  font-family:var(--secondary-font) ;

}
.font-public{
font-family: var(--pubilc-sans-font);
}
.display-inline{
  display: inline;
}
.bg-gray-light{
  background-color: var(--gray);
}
h1, h2 , h3, h4, h5, h6 , p{
  margin: 0;
}
.px-60{
  padding-left: 60px;
  padding-right: 60px;
}
.color-white{
  color: #fff;
}
.h-100vh{
  height: 100vh;
}
.signup-form{
  background-color: var(--dark-green);
  color: #CDFFB5;
  padding: 100px 0;
}
.designer-signup-form{
  background-color: #CDFFB5;
  color:var(--dark-green);
  padding: 100px 0;
}
.form-group{
  margin-bottom: 15px;
}
.signup-content{
  display:flex;
  justify-content: space-between;
  gap:30px;
  font-family: var(--pubilc-sans-font)!important;
}
.signup-form h2, .form-heading h2{
  font-size: 88px;
  font-weight: 500;
  line-height: 84px;
  font-family: var(--secondary-font);
  letter-spacing: -0.48px;
}
.signup-form h2 .font-public, .form-heading h2 span.font-public{
  letter-spacing: -7px;
}
.form-inner{
  width:525px;
  border: solid 0.71px #CDFFB5;
  border-radius: 2.82px;
  padding: 40px 45px;
 }
 
 .designer-signup-form .form-inner{
  border: solid 0.71px var(--dark-green);
 }
.form-inner label{
margin-bottom: 8px;
display: block;
font-weight: 700;
}
.form-inner input::placeholder{
  color: var(--mid-green);
  font-weight: 500;
}
.designer-signup-form 
.form-inner label{
color: var(--dark-green);
}
.form_control{
  display: block;
  width: -webkit-fill-available;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  color: var(--light-green);
  background-color: transparent;
  border: 0.71px solid #CDFFB5;
  border-radius: 2.82px;
  outline: none;
  font-weight: 500;
  height: 38px;

}
.designer-signup-form  .form_control{
  border-color: var(--dark-green);
  color: var(--dark-green);
}
.submit-btn{
  display: block;
  padding: 14px 20px;
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 3px;
}
.signup-btn{
  background: #CDFFB5;
  color: var(--dark-green);
}
.designer-signup-form .submit-btn{
  background-color: var(--dark-green);
  color: #CDFFB5;
}
.signup-form p{
color:var(--mid-green);
font-weight: 500;
}
.already-register{
  text-align: right;
  margin-top: 30px;
}
.login-redirect{
  padding: 10px 20px;
  border-radius:10px;
  border:solid 1px var(--mid-green);
  color: #CDFFB5;
  text-decoration: none;
}
.designer-signup-form .login-redirect{
  color: var(--mid-green);
}
.forgot-password{
  display: flex;
  align-items: center;
}
.bomo-login-logo{
  font-style: italic;
  font-family: var(--main-font);
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: -0.48px
}
.login-date {
  font-size: 19px;
  letter-spacing: -0.48px
}
.designer-signup-form .bomo-login-logo , .designer-signup-form .login-date {
  color: var(--mid-green);
}
.signup-form .bomo-login-logo{
  color: #CDFFB5;
}
.designer-signup-form a.color-white{
color: var(--dark-green);
}
.forgot-password h1 {
  font-size: 55px;
}
.mt-150{
  margin-top: 150px;
}
.Home-screen{
  height: 100vh;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.Home-screen .Home-button{
  background-color: transparent;
  padding: 15px 25px;
  color: #fff;
  border: solid 1px #fff;
  margin: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}
.sidebar{
  top: 0;
  left : 0;
  z-index : 100;
  overflow-y: auto;
  width: 150px;
}
.overlay{
  background-color: rgb(0 0 0 / 45%);
  z-index: 99;
}
.sidebar .list-group-item.active{
  background-color: var(--gray);
  color: #000;
  font-weight: 700;
}
.toggle-btn {
  border-top: solid 2px;
  position: relative;
  width: 22px;
  height: unset;
  display: inline-block;
  margin-bottom: 0;
  color: #000;
}
.toggle-btn:before {
  content: "";
  position: absolute;
  border-top: solid 2px;
  width: 22px;
  left: 0;
  right: 0;
  top: -7px;
}
.toggle-btn:after {
  content: "";
  position: absolute;
  border-top: solid 2px;
  width: 22px;
  left: 0;
  right: 0;
  top: 3px;
}
.sidebar a.list-group-item{
  cursor: pointer;
}
.rightside-wrapper{
  width: calc(100% - 150px);
}
.main-content-wraaper{
  color: #000;

}
.review-main-content h3{
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;
}
.request-date p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}
.review-content p {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: -0.48px;
}
.review-content .short0ad {
  border: solid 1px #B185F2;
  padding: 4px 15px;
  border-radius: 20px;
  color:#B185F2;
  font-weight: 600;
}
.review-content .d-flex{
  gap:10px;
}
.payment-info{
  height: 428px;
}
.user-email {
  line-height: 20px;
}
.review-delivery a{
  background-color:#ECF7EE;
  border: solid 1px #3FCE3C;
  padding: 10px 75px 10px 75px;
  color:#012801;
  font-weight: 700;
  float: right;
}
.review-content  .web-animation{
  color:#EDAFFE;
  border-color: #EDAFFE;
 }
 .draft-table{
  border: solid 1px #000;
 }
 .draft-table tr{
  border-color:#000 ;
 }
 .draft-table tr:last-child ,  .draft-table tr:last-child td{
  border:none

 }
 .draft-table table>:not(caption)>*>*{
  background-color: transparent!important;
  }
  .draft-table p a{
    color: #000;
  }
  .review-content table  td{
  vertical-align: middle;
  padding: 13px 10px;
  }
.review-content .draft-table table  td{
    padding: 13px 20px;
}
.review-content .feedback-queue td{
  padding: 13px 7px;
}
.review-content .loop {
  color: #FA812A;
  border-color: #FA812A;
  background: #fff;
}
.draft-table .review-content table  td{
  padding: 13px 7px;
}
.draft-table table td:first-child{
  width: 175px;
}
.draft-table table td:nth-child(2){
 width: 85px;
}
.draft-table table td:nth-child(3){
  width: 85px;
}
.draft-table p.short0ad{
  width: 111px;
  padding: 8px 11px;
}
.review-content .brand-element {
  color: #0657EB;
  border-color: #0657EB;
}
.review-content .ui-animation {
  color: #7C96FE;
  border-color:#7C96FE;
}
.review-content .typography {
  color: #D6C10B;
  border-color: #D6C10B;
}
.review-content .transition{
  color: #F92B34;
  border-color: #F92B34;
}
.review-content .logo{
  color:#6D3FF3;
  border-color:#6D3FF3;
}
.review-content .icon{
  color:#2DB985;
  border-color: #2DB985;
  background: rgba(45, 185, 133, 0.10);
}
.review-content .intro{
  color:#FE58AE;
  border-color: #FE58AE;
  background: rgba(109, 63, 243, 0.10)
}
.review-content .loop{
  color:#FA812A;
  border-color: #FA812A;
  background: rgba(250, 129, 42, 0.10);
}
p.serial-number {
  background: #D2CECE;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  line-height: 17px;
}
table.feedback-queue {
  border-collapse: separate;
  border-spacing: 0 10px;
}
table.feedback-queue tr td{
  background-color: var(--gray);
}
table.feedback-queue tr:first-child td{
  background-color: transparent;
}
.status::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #71dd37;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.status-btn button {
  padding: 6px 30px;
  color: #fff;
  background: transparent;
  font-size: 12px;
}
.status-btn .pause-btn{
  background-color: #000000;
}
.status-btn .cancel-btn{
  background-color: #F82626;
}
.review-content .status {
  font-size: 14px;
}
.modify-subscription{
  color:var(--dark-green);
  letter-spacing: -0.48px;
}
.modify-subscription h2{
  font-size: 40px;
  font-weight: 500;
  font-family: 'Recless Medium';

}
.modify-subscription .subscription-heading{
  font-family: var(--main-font);
  font-weight: 700;
}
.subscription-data .savings{
  border: solid 1px var(--mid-green) ;
  color:var(--mid-green);
  font-weight: 500;
  letter-spacing: .48px; 
}
.subscription-count {
  font-size: 80px;
  font-weight: 700;
}
.subscription-total{
  font-size: 20px;
  font-weight: 500;
}
.modify-subscription .update-btn{
  color: var(--dark-green);
  border: solid 1px var(--mid-green);
  font-size: 17px;
}
.modify-subscription {
  border: solid 1px var(--mid-green);
}
.subscription-progress {
  gap: 5px;
  text-align: center;
  font-size: .9em;
}
.subscription-progress .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
  color: #777034;
  font-weight: 500;
  letter-spacing: -.48px;
}
.subscription-progress .stepIndicator.active {
  font-weight: 600;
  color:var(--mid-green);
}
.subscription-progress .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid var(--mid-green);
  top: 73%;
}
.subscription-progress .stepIndicator.active::before {
  background-color: var(--mid-green);
  border: 3px solid var(--mid-green);
}
.subscription-progress .stepIndicator::after {
  content: "";
  position: absolute;
  left: 56%;
  bottom: 8px;
  width: 90%;
  height: 3px;
  background-color: #f3f3f3;
}
.subscription-progress .stepIndicator.active::after {
  background-color: var(--mid-green);
}
.subscription-progress .stepIndicator:last-child:after {
  display: none;
}
.payment-history-section {
  background: #EAEAEA;
  border: solid 0.5px #A4A4A4;
}
.payment-history-section .table>:not(caption)>*>* {
 background-color: transparent;
}
.payment-history-section table tr td{
  color:#606060
}
.payment-history-section table tr th{
  padding-bottom: 20px;
}
.past-request-section table tr td{
  padding: 13px 5px;
}
.past-request-section .review-content .short0ad {
  width: 100px;
  padding: 4px 8px;
}
.past-request-section .review-content .logo{
  background: rgba(6, 87, 235, 0.10);
}
.past-request-section .review-content .typography{
  background: rgba(206, 188, 24, 0.10)
}
.past-request-section .review-content .transition{
  background: rgba(249, 43, 52, 0.10);
}
.past-request-section .review-content .brand-element{
  background: rgba(6, 87, 235, 0.10)
}
.member-table tr td:nth-child(1)
{
width: 230px;
}
.member-table tr td:nth-child(2)
{
width: 175px;
}
.logout-popup .modal-dialog {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* transform: translate(0,0); */
  min-height: calc(100% - (1.75rem * 2));
}
/* sidebar for small screens */
@media screen and (max-width: 767px){
  
  .sidebar{
     width: 18rem;
    transform : translateX(-100%);
    transition : transform 0.4s ease-out;
  }
  
  .sidebar.active{
    transform : translateX(0);
  }
  .rightside-wrapper {
    width: 100%;
}
  
}

/* If Checked */

#MenuToggle:checked~.sidebar {
	width: 0;
	transform: translateX(-250px);
}

#MenuToggle:checked~.right {
	width: 100%;
}
.request-content:hover {
  background: transparent!important;
  transition: .2s ease-in-out;
}
.new-request{
  background-color: var(--gray);
  transition: .2s ease-in-out;
}
.request-content:hover .new-request{
  background-color: #000;
  color: #fff!important;
  transition: .2s ease-in-out;
}
.subscribers{
  border:solid 1px #000;
}

@media(max-width:767px){
  nav h4{
    font-size: 15px;
  }
  .form-inner{
    width: auto;
    padding: 20px 25px;
  }
  .form-heading {
    margin-bottom: 40px;
}
  .signup-content{
   display: block;
  }
  .signup-form h2 {
    font-size: 60px;
    line-height: 70px;
  }
  .px-60 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .review-content .feedback-queue td {
    padding: 13px 15px;
  }
  .subscription-count {
    font-size: 60px;
    line-height: 65px;
  }
  .subscription-data.w-75 {
    width: 100%!important;
  }
  .status::before {
    left: -12px;
  }
  .modify-subscription h2 {
    font-size: 33px;
    line-height: normal;
  }
  .signup-form h2, .form-heading h2 , .forgot-password h1 {
    font-size: 43px;
    line-height: 50px;}
}